<div class="esriViewPopup">
    <div class="mainSection"><b>Open Summer Sites</b>
        <div class="hzLine"></div>
        <table class="attrTable">
            <tbody>
                <tr>
                    <td class="attrName">Organization Name</td>
                    <td>${Organization_Name}</td>
                </tr>
                <tr>
                    <td class="attrName">Street Address</td>
                    <td>${Street_Address}</td>
                </tr>
                <tr>
                    <td class="attrName">City</td>
                    <td>${City}</td>
                </tr>
                <tr>
                    <td class="attrName">State</td>
                    <td>${State}</td>
                </tr>
                <tr>
                    <td class="attrName">Postal Code</td>
                    <td>${Postal_Code}</td>
                </tr>
                <tr>
                    <td class="attrName">Email Address</td>
                    <td>${Email_Address}</td>
                </tr>
                <tr>
                    <td class="attrName">Hours of Service</td>
                    <td>${Hours_of_Service}</td>
                </tr>
                <tr>
                    <td class="attrName">Site Phone Number</td>
                    <td><a href="tel:${Phone}" target="_blank">${Phone}</a>
                    </td>
                </tr>
                <tr>
                    <td class="attrName">For Directions Click Here</td>
                    <td><a target="_blank" href="${Directions}" title="This is an external link or third-party site outside of the United States Department of Agriculture (USDA) website">Open Directions<img src="app/resources/new_window.gif"></a>
                    </td>
                </tr>
                <tr>
                    <td class="attrName">National Hunger Hotline</td>
                    <td>${NatlHunger_Hotline}</td>
                </tr>
            </tbody>
        </table>
        <div class="break"></div>
    </div>
</div>
