/* NOTE! any changes here need to be run through a minifier and saved as main.min.css */
/* Gruntfile included in this app's main directory. Install grunt and run 'grunt cssmin' */

@import '../app/widgets/Geocoder/Geocoder.css';

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Open Sans', Helvetica, Arial;
}

/* --- generic --- */
.logo-replacement {
    display: inline-block;
    vertical-align: bottom;
    width: 65px;
    height: 36px;
    z-index: 30;
    background-image: url("../images/map/logo-med.png");
    cursor: pointer;
}

.center-please {
    box-sizing: border-box;
    margin: 30px;
    text-align: center;
}

/* --- modal --- */

#instrModal {
    border: 1px solid #333;
    border-radius: 5px;
}

#instrModal .dijitDialogPaneContent {
    padding: 20px;
    border-top-color: #ccc;
}

#instrModal .dijitDialogTitleBar {
    background: white;
    font-size: 18px;
    line-height: 1.5;
    padding: 10px;
    border: none;
}

#instrModal_underlay {
    background-color: black;
}

#instrModal.wideMap {
    width: 40% !important;
}

#instrModal.mediumMap {
    width: 50% !important;
}

#instrModal.wideMap .containerNode,
#instrModal.mediumMap .containerNode {
    width: 100% !important;
}

/* mock up the geocoder container so the modal text doesn't jump */
#instrModal .thisWillBeClobbered {
    box-sizing: border-box;
    height: 32px;
    width: 229px;
    display: inline-block;
    border: 2px solid #666;
    border-radius: 5px;
}

#instrModal .simpleGeocoder .esriGeocoderResults {
    background-color: white;
    background-color: rgba(255, 255, 255, 0.95);
}


/* --- header --- */

.header-bar {
    height: 50px;
    width: 100%;
    background-color: #2aaa8a;
    color: white;
    padding: 5px 0;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 1px 8px 0px; /* the map is covering this up */
}

.header-bar .title {
    font-size: 18px;
    font-weight: bold;
}

.header-bar div, .header-bar img {
    display: inline-block;
    margin: 0 8px;
}

.header-bar img {
    height: 40px;
}

.header-bar .agency-logo {
    position: absolute;
    right: 0;
}

/* --- map elements --- */

#map {
    position: absolute;
    top: 50px;
    right: 0;
    left: 0;
    bottom: 0;
}

.map-button {
    position: absolute;
    z-index: 20;
    top: 10px;
    left: 10px;
}

.esriSimpleSliderTL {
    top: 10px;
    left: 10px;
    background: none;
    color: white;
    border: none;
    font-weight: bold;
}

.esriSimpleSliderTL div,
#homeDiv .home,
#locatorDiv .zoomLocateButton {
    background-color: #666;
    background-color: rgba(0, 0, 0, 0.2);
}

.esriSimpleSliderTL div:hover,
#homeDiv .home:hover,
#locatorDiv .zoomLocateButton:hover {
    background-color: #333;
    background-color: rgba(0, 0, 0, 0.5);
}

#geocoderWrapper {
    left: 60px;
}

#homeDiv {
    top: 80px;
}

#locatorDiv {
    top: 120px;
}

/* --- popup --- */

.esriPopup .titlePane {
    background-color: #2aaa8a;
}

.esriPopup .sizer {
    width: 400px;
}

/* don't let attribute field column wrap */
.esriViewPopup .attrTable td.attrName {
    white-space: nowrap;
    color: #888888;
    vertical-align: baseline;
}

.esriViewPopup .attrTable td {
    padding-bottom: 2px; /* default 5px was making table too big */
}

/* combat bootstrap's opacity on close buttons */
.esriPopup .close,
.esriPopupMobile .close {
    opacity: 1;
}

/* --- mobile popup --- */

.esriMobilePopupInfoView {
    padding: 20px;
    box-sizing: border-box;
    bottom: 0;
    height: auto;
    overflow-y: auto;
}

.esriPopupMobile .titlePane {
    height: 50px; /* default 40px seemed to short */
}

/* --- mobile popup's info screen --- */

/* put some left margin to the close (X) button */
.esriMobileNavigationBar .esriMobileNavigationItem.left {
    left: 10px;
}

/* put some right margin to the buttons */
.esriMobileNavigationBar .esriMobileNavigationItem.right {
    right: 10px;
}

.esriMobileNavigationBar .esriMobileNavigationItem.right1 {
    right: 46px;
}

.esriMobileNavigationBar .esriMobileNavigationItem.right2 {
    right: 84px;
}


/* --- media queries --- */

/* deal with possible titlebar problems */
@media all and (max-width: 350px) {
    .header-bar div, .header-bar img {
        margin: 0 2px;
    }
    .modal-dialog-center {
        margin-top: 5%;
    }
    .center-please {
        margin-left: 0;
        margin-right: 0;
    }

}

@media all and (max-width: 310px) {
    .header-bar .agency-logo {
        height: 30px;
        margin-top: 5px;
    }
    .modal-dialog-center {
        margin-top: 1%;
    }
}

@media all and (max-width: 295px) {
    .header-bar .title {
        font-size: 16px;
    }
}

