.simpleGeocoder {
	display: inline-block;
}

/* slight transparency to geocoder with no values */
.simpleGeocoder .esriGeocoder {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.6);
}

/* less transparency to geocoder with text entered, or on input focus without text entered,
 and suggestions dropdown */
.simpleGeocoder .esriGeocoder:not(.esriGeocoderHasValue) input:focus,
.simpleGeocoder .esriGeocoder.esriGeocoderHasValue,
.simpleGeocoder .esriGeocoder:hover,
.simpleGeocoder .esriGeocoderResults {
	background-color: white;
	background-color: rgba(255, 255, 255, 0.8);
}
