/*
jQuizMe 2.2 - 12/30/10 Programmed and CopyWrited by Larry Battle 2008 - 2010 
*/	
fieldset {border:none}
a:hover, a:active, a:focus {
  background-color: #DCFFFF;
  color:#000066;
}
input[type=checkbox]:focus + label, input[type=radio]:focus + label {
   background-color: #333333;
   border:1px; 
   color: #ffffff; 
}
.quiz-el{
	background: #FFF;
	font-size: 1.1em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	position: relative;
	padding: 0.2em;
	width: 37em;
}
.quiz-el div{
	padding: 0.2em;
}
/* .q-innerArea = .q-header, .q-help, .q-prob, .q-intro, .q-gameOver */
.q-innerArea{
	background: #FFF;
	position:relative;
	clear: both;
	color: black;
}
.q-intro{
	padding: 0.2em;
}
.q-title{
	overflow: hidden;
	width: 80%;
	margin: 0;
	font-weight: bold;
}
/*This is a hack, because IE fails on float:right.*/
.q-counter{
	position: absolute;
	top: 0%;
	right: 0%;
	margin: 1%;
	padding: 0%;
}
.q-counter{
	float: right;
}
.q-help{
	position: relative;
	clear:both;
}
/*.q-probArea = .q-ques, .q-ansSel, .q-result */
.q-probArea{
	background: #FFF;
	font-size: 1.1em;
	position: relative;
	
}
.q-help-menu{
	width: 97%;
}
.q-help-info{
	clear:both;
}
.q-quit-confirm, .q-quit-area, .q-review-arrows{
	display: none;
	width: auto;
}
.q-quit-area{
	float: right;
}
.q-review-arrows{
	position: relative;	/*IE hack.*/
	width: 2.3em;
}
.q-center{
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto;
}
.q-gameOver .q-statTotal{
	color: blue;
}
.q-quesInput{
	width: 95%;
}
.q-ol{
	list-style-type: upper-alpha;
	list-style-position: inside;
	padding: 0;
	margin: 0;
}
.q-ol-li{
	margin: 0.4em auto 0.4em auto;
	display: list-item; 
}
.q-ol-hover{
	background: #EEE;
}
.q-ol-active{
	background: #333;
	color: #FFF;
}
/*IE displays the wrong width for <select> tags.*/
.q-select{
	width : 80%;
}
.q-select{
	font-size: 0.8em;
	width: 100%;
}
.q-timer-area{
	display:block;
	text-align:center;
	width: auto;
}
.q-review-menu{
	text-align: center;
	width: auto;
}
.q-reviewBar-btns{
	position: relative;
	display: inline-block;
	width: 49%;
}
.q-rightArrow{
	float:right;
}
.q-leftArrow{
	float:left;
}
.q-timer-area{
	line-height: 0;
	height:0;
}